[Unit]
Description=Web Application for CSYE6225
ConditionPathExists=/opt/csye6225/.env
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node /opt/csye6225/src/index.js
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=csye6225-webapp

[Install]
WantedBy=multi-user.target
